body {
  display: grid;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  background-image: url("https://scontent-msp1-1.xx.fbcdn.net/v/t1.0-9/117303013_10160156683174937_4065623423583343610_o.jpg?_nc_cat=111&_nc_sid=730e14&_nc_ohc=PoOQG6DrBccAX_MmEiI&_nc_ht=scontent-msp1-1.xx&oh=3f31cc8f26ff3d7182178afc89b99645&oe=5F5B1797");
  background-size: cover;
}  
.image {
  float: right;
  width: 50%;
  height: auto;
}
.name {
  text-align: center;
  display: block;
  display: inline-block;
}
h1 p {
  text-align: left;
  display: inline;
}
.portrait {
  padding-top: 100px
  float: right;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1);
}

.education {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1);
}
h1 {
  text-align: center;
  font-family: Courier New;
  font-weight: bold;
}

.description {
  text-align: center;
}
