.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start
}

@media (max-width 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-left {
  flex-basis: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

.flex-right {
  flex-basis: 100%;
  background-image: url("./parchment.jpg");
  margin-left: 0%;
  margin-right: 0%;
  flex-grow: ;
}

.headshot-img {
  image: url("./headshot.jpg");
  max-width: auto;
  height: auto;
  object-fit: fill;
  object-position: center;
}

#name {
  font-size: 35px;
}

.about-me {

}