body {
  background-color: rgb(202, 187, 167);
  margin: 1.5rem auto;
}

#name {
  font-size: 35px;
}

.linkedin {
  size: 30%;
}

.container {
  background-color: antiquewhite;
  margin: auto;
  max-width: fit-content;
  display: grid;
  grid-template-columns:  503px 503px;
  padding: 1rem;
  column-gap: 1rem;
  border-radius: 0.6rem;
}

.left {
  grid-column-start: 1;
}

.right {
  grid-column-start: 2;
  display: block;
}

img {
  border-radius: 0.4rem;
}